/* header  */

.banner .banner-text {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 50%;
  z-index: 20;
}
.banner .banner-text h1 {
  font-size: 3.5vw;
}
.banner .banner-text p {
  font-size: 1.5vw;
}
.darkened-img img {
  filter: brightness(50%);
}
/* popular course section  */
.popular-course-title {
  width: 50%;
}
.popular-course-title h1 {
  font-size: 3.5vw;
}
.popular-course-title p {
  font-size: 2vw;
}
/* frequently asked questions section  */
.heading h1 {
  font-size: 3.5vw;
}
.heading p {
  font-size: 2vw;
}
.accordion {
  width: 50%;
}
/* footer  */
.icons .fa-brands {
  font-size: 2rem;
}

/* responsive for mobile   */
/* @media only screen and (max-width: 576px) {
  .banner .banner-text {
    top: 5%;
  }
} */

/* responsive for tablet */
@media screen and (max-width: 992px) {
  .banner .banner-text {
    top: 25%;
  }
  .popular-course {
    width: 75%;
  }
  .companies {
    display: none;
  }
}
